<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SlideOutProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16D538AB2161DAAA00E9D1B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16D538BF2161DAAE00E9D1B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16D538CA2161DAAF00E9D1B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
